<%- include('header') -%>

    <section class="container">
        <div class="row justify-content-center my-2 ">

            <div class="col-4 p-4" style="background-color: gray;">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingName" placeholder="ducat india">
                    <label for="floatingName">Enter Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>

            </div>
        </div>





    </section>