<%- include('header') -%>
    <section class="container">
        <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, id eius minima dolores, natus aut placeat
            dolorum illum culpa deleniti, nemo quidem. Quam officiis reprehenderit vero dolores fugiat! Harum odio
            doloribus beatae dicta nulla dolores tempora temporibus in. Neque animi minus nesciunt commodi ea quis
            assumenda, inventore expedita dolore veritatis blanditiis quaerat ipsum quae laudantium itaque eum
            molestias, enim porro quam dolorem esse quod! Placeat, numquam! Illum eum nisi, reprehenderit voluptate
            minima quas cupiditate cumque aperiam autem. Repellat optio ad harum laborum nam eligendi quas illum
            totam
            enim sapiente ratione, officiis sit qui corrupti aliquid id modi? Porro reprehenderit maiores
            consequatur,
            natus iure quasi? Libero culpa placeat voluptatem minima facere autem neque voluptates impedit. Dicta
            non
            illo reprehenderit tempora quos labore fugit repudiandae debitis blanditiis! Quibusdam commodi neque
            illo et
            delectus ea aut ut accusantium illum facere, molestiae libero, ratione ipsam soluta. Rem, molestias.
            Illo
            asperiores unde voluptatem quisquam ut quos, neque quod repellendus. Debitis ea provident officiis
            officia
            explicabo nemo deserunt tempora dicta maxime odio. Laudantium animi illum dignissimos debitis tempore
            eos
            eaque hic? Minima, totam accusantium sint ut, fugit culpa odit suscipit voluptatibus expedita
            exercitationem
            ipsam. Facere dolores commodi, illum rerum minus nesciunt ipsam modi debitis et? Delectus totam rem et
            reprehenderit quam autem excepturi tempore! Repudiandae cumque officia porro, saepe quas hic voluptas
            eveniet ratione alias quo ipsam voluptates distinctio beatae dicta ut fugiat veritatis consequatur
            blanditiis corrupti fugit cupiditate. Nam corporis omnis dolor est necessitatibus quae, incidunt, illum
            repellat id tenetur aut adipisci, vel optio sed!</p>
    </section>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
        crossorigin="anonymous"></script>
    </body>

    </html>