
<a href="/view">Back</a>
<form method="post">
     <a href="/delete/<%= users._id %>/confirm" class="btn btn-delete"
        >Yes, Delete</a>
     <a href="/view" class="btn btn-cancel">Cancel</a>
</form>
</main>
</body>
</html>