<a href="/view">Back</a>
<form method="post">
    <p><input type="text" name="userName" value="<%= users.userName %>" placeholder="Enter Your Name" required /></p>
    <p><input type="email" name="userEmail" value="<%= users.userEmail %>" placeholder=" Enter Your Email" required />
    </p>
    <p><input type="text" name="userMobile" value="<%= users.userMobile %>" placeholder=" Enter Your Mobile" required />
    </p>
    <p><input type="submit" value="Update Data" /></p>
</form>

</main>


</body>

</html>