<%- include('head') -%>
    <form method="post">
        <p><input type="text" name="userName" placeholder="Enter Your Name" required /></p>
        <p><input type="email" name="userEmail" placeholder="Enter Your Email" required /></p>
        <p><input type="text" name="userMobile" placeholder="Enter Your Mobile" required /></p>
        <p><input type="submit" value="Insert Data" /></p>
    </form>

    </main>


    </body>

    </html>