doctype html 
html 
    head 
    title='Home page'
    style 
     link(rel="stylesheet" href="/css/styles.css")
body 
    div.head 
            h1='hello india'
            p='With decades of maintenance of way expertise and experience, no one knows the rail like Loram. Today, we’re leveraging our accumulated data, analytics and maintenance algorithms with advanced inspection technologies to provide you actionable intelligence with real-time monitoring and the most precise application of maintenance of way activities. In this new era of digital insight, interval-based maintenance is a thing of the past. Loram delivers on the promise of truly targeted, agile and data-driven solutions, offering unsurpassed efficiency, predictability and return on your maintenance investment.With decades of maintenance of way expertise and experience, no one knows the rail like Loram. Today, we’re leveraging our accumulated data, analytics and maintenance algorithms with advanced inspection technologies to provide you actionable intelligence with real-time monitoring and the most precise application of maintenance of way activities. In this new era of digital insight, interval-based maintenance is a thing of the past. Loram delivers on the promise of truly targeted, agile and data-driven solutions, offering unsurpassed efficiency, predictability and return on your maintenance investment.'
            a(href="/data") Open Api Data 
            br
            a(href='/search') Search Perams
            br
            a(href='/login') Login
            br
            a(href='/query') Query
