<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/style.css" />
    <title>Profile</title>
  </head>
  <body>
    <div class="profile-container">
      <h1>Welcome, <strong><%= name %>!</strong></h1>
      <p>This is your profile page.</p>
      <ul>
        <li>Email: <strong><%= email %></strong></li>
        <li>Member since: "2024"</li>
      </ul>

      <a href="/login">Logout</a>
    </div>
  </body>
</html>
